*{
    padding: 0;
    margin: 0;
}
.new{
    padding: 5px;
    margin: 0px;
    background-color: blue;
}
.leftbar{
    float: right;
}
.leftbar a{
    padding: 3px;
    margin: 3px;
    text-decoration: none;
    color: aliceblue;
}
.leftbar a:hover{
    background-color: white;
    color: black;
}
.blackcolor{
    background-color: black;
    color: white;
}
p.welcome{
    text-align: center;
    width: 100%;
    font-size: 40px;
}
.blackcolor a {
    text-decoration: none;
    font-family: fantasy;
    font-size: 40px;
    background-color: blue;
    color: white;
    padding: 3px;
}
.firstpic{
    text-align: center;
}
.firstpic img{
    border: 3px solid lightseagreen;
   width: max-content;
}
.site{
    margin-left: 6px;
    padding: 8px;
    text-transform: capitalize;
    color: rgba(0, 195, 255, 0.836);
    font-family: 'Times New Roman';
    font-size: 60px;
}
.wordpress{
    color: aqua;
    text-align: center;
    font-size: 10px;
    font-weight: 100;
}

.greencolor{
    background-color: green;
    padding: 6px;
}
.build{
    padding: 3px;
    margin: 3px;
    font-family: Arial;
    font-size: 60px;
} 
.secondpic{
    text-align: center;
}
.secondpic .a{
    width: 100px;
    height: 200px;
}
.secondpic .b{
    margin-bottom: 110px;
    width: 100px;
    height: 90px;
}
.secondpic .c{
    float: ;
    width: 50px;
    height: 70px;
    pa: 30px;
}
.secondpic .d{
    width: 100px;
    height: 150px;
}
.secondpic .e{
    width: 100px;
    height: 200px;
}

.standout{
    text-align: center;
    color: rgb(21, 17, 226);
    text-overflow: none;
    font-size: 40px;
}
.nomatter{
    text-overflow: none;
    font-size: 20px;
    color: white;
}
.theme{
    background-color: green;
    color: red;
    font-size: 30px;
    display: block;
    text-align: center;
}
video{
    width: 100%;
}
.design{
    font-size: 50px;
}
.work p{
    font-size: 30px;
    font-family: 'Times New Roman';
    font-style: italic;
}
span{
    font-size: 1.5em;
}
.work a{
   font-size: 30px;
   color: red;
   background-color: green;
   display: block;
   text-align: center;
}
.ourwork{
    font-size: 30px;
    color: red;
    background-color: green;
    display: block;
    text-align: center;
}